<div class="main">
  <div class="container">
    <h1>Hello my name is Oleg</h1>
    <p>I am Junior developer RoR</p>
    <p>Telephone number: +7 999 999 99 99</p>
    <p>Email address: ivanov@gmail.com</p>
  </div>
</div>
