    <h3> Редактировние поста </h3>
    <%= form_for(@post) do |f| %>
      <%= f.text_field :title, placeholder: 'Название' %><br>
      <%= f.text_area :body, placeholder: 'Текст статьи' %><br>
      <%= f.submit "Сохранить", class: 'btn' %>
    <% end %>
